<!DOCTYPE html>
<head>
<title>SI : Gallery</title>

<link rel="stylesheet" href="/static/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>

<script src="/static/masonry.pkgd.min.js"></script>
<style>
/*    .container{
            margin:0 auto;
            max-width: 970px;
        }*/
    .navbar-brand{

       font-family: 'Bevan', cursive;
       font-weight: 25px;
       font-size: 25px;
    }
    .form-control{
    width:40% !important;
    text-align:center;
  }
.floated_img
{
    float: left;
}



</style>

<script>
$(function() {
$('.grid').masonry({
  
  itemSelector: '.grid-item',
  gutter: 10,
});

$('.grid').imagesLoaded().progress( function() {
  $('.grid').masonry('layout');
});
});
</script>
</head>
<body class="container">
    {% include 'menu.html' %}
<div class="row">
            {% for img in image_list%}

<div class="column col-md-4">
	<div class="floated_img">
            <a href="{{url_for('image_details',filename=img.split('.')[0],username=username,) }}" >
                <img src="{{url_for('sendimages',filename=img.split('.')[0])}}">
            </a>

    	<p>Description of above image</p>
	</div>

</div>

            {% endfor %}
</div>
 <!--<div class="container">
        <div class="row">
            <div class="grid">
             {% for img in image_list%}
             <div class="grid-size"></div>  
             <div class="grid-item">
            <a href="{{url_for('image_details',filename=img.split('.')[0],username=username,) }}" >
                <img src="{{url_for('sendimages',filename=img.split('.')[0])}}">
            </a>
            </div>
       
            {% endfor %}
        </div>
        </div>
    </div-->
</body>
</html>

        
