<div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SHARKimages</a>
        </div>
        <center>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a>
                    </li>
                    {% if session %}
                    <li><a href="/{{ username }}/uploaded">My Album</a>
                    </li>
                    {% endif %}
                    <li><a href="/uploaded">Explore</a>
                        </li>
                </ul>
                {% if session %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">welcome {{username}}</a>
                        </li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
                    <a type="button" class="btn" data-toggle="modal" data-target="#myModal"><strong style="color:white;font-size: 20px;">Login/Register</strong></a> 
                    </ul>
                {% endif %}
            </div>
        </center>
    </div>

</div>

<div class="modal fade" id="myModal" role="dialog" style="text-align:center;" >
        <div class="modal-dialog" style="margin-top:70px;">
            <div class="modal-content" style="text-align:center;">
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Login/Register</strong></h4>
            </div>  
            <div class="modal-body">
                <form action="/" method="POST" enctype="multipart/form-data" >
                    <center>
                    <input type="text" class="form-control"  name="username" placeholder="Username" required></input>
                    <br/>
                    <input type="password" class="form-control" name="password" placeholder="Password" required></input>
                    <br/>
                </center>
                    <button type="submit" class="btn btn-default" name="login">Login</button>
                </form>
                <br/>
                <hr>
                <br/>
                <form action="/register" method="POST" enctype="multipart/form-data" >
                    <center>
                    <input type="text" class="form-control" name="username" placeholder="Username" required></input>
                    <br/>
                    <input type="password" class="form-control" name="password" placeholder="Password" required></input>
                    <br/>
                </center>
                    <button type="submit" class="btn btn-default" name="register">register</button>
                </form> 
            </div>
           
        </div>
    </div>
</div>


